// Place all the styles related to the covers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  width: 100vw;
  .output {
    width: 500px;
    margin: 0 auto;
    .title {
      text-align: center;
    }
  }
}