.output_main {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
}

.output_header {
  width: 100vw;
  height: 100px;
  opacity: 0.6;
  margin-top: -20px;
  background-color: #e6fff9;
  &-title {
    line-height: 100px;
    text-align: center;
    font-weight: bold;
  }
  &-title:first-letter {
    font-size: 2.5em;
    color: #005fff;
  }
}

.output_content {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  &_left {
    width: 20%;
    font-size: 20px;
    background-color: #ffff99;
    opacity: 0.6;
    &-all {
      width: 100%;
      text-align: center;
      border-bottom: dotted 1px #000;
      font-weight: bold;
    }
    &-explanation {
      width: 100%;
      text-align: center;
      background-color: #99ffff;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
    }
    &-learn {
      width: 100%;
      text-align: center;
      background-color: #ff99ff;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
    }
    &-remark {
      width: 100%;
      text-align: center;
      background-color: #33ff99;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
    }
  }
  &_right {
    width: 80%;
    height: calc(100vh - 100px);
    position: relative;
    &_box {
      background-color: #000;   /* 背景色指定 */
      position: absolute;          /* 位置指定 */
      padding: 20px;               /* 余白指定 */
      top:  0;                     /* 位置指定 */
      bottom:  0;                  /* 位置指定 */
      left:  0;                    /* 位置指定 */
      right:  0;                   /* 位置指定 */
      margin:  auto;               /* 中央寄せ */
      width:  650px;               /* 幅指定 */
      height: 400px;
      opacity: 0.6;
      display: none;
      &-text {
        color: white;
      }
    }
    &_box2 {
      background-color: #000;   /* 背景色指定 */
      position: absolute;          /* 位置指定 */
      padding: 20px;               /* 余白指定 */
      top:  0;                     /* 位置指定 */
      bottom:  0;                  /* 位置指定 */
      left:  0;                    /* 位置指定 */
      right:  0;                   /* 位置指定 */
      margin:  auto;               /* 中央寄せ */
      width:  650px;               /* 幅指定 */
      height: 400px;
      opacity: 0.6;
      display: none;
      &-text {
        color: white;
      }
    }
    &_box3 {
      background-color: #000;   /* 背景色指定 */
      position: absolute;          /* 位置指定 */
      padding: 20px;               /* 余白指定 */
      top:  0;                     /* 位置指定 */
      bottom:  0;                  /* 位置指定 */
      left:  0;                    /* 位置指定 */
      right:  0;                   /* 位置指定 */
      margin:  auto;               /* 中央寄せ */
      width:  650px;               /* 幅指定 */
      height: 400px;
      opacity: 0.6;
      display: none;
      &-text {
        color: white;
      }
    }
  }
}
