.output_new_area{
  width: 600px;
  height: 350px;
}

.output_new_title {
  width: 450px;
  height: 30px;
}

.output_new_submit {
  width: 140px;
  padding: 1em 2em;
  border-style: none;
  background-color: #777;
  font-size: 0.8em;
}