%div{class: 'output_main', style: "background-image: url(#{rails_blob_url(@output.image)})"}
  .output_header
    %h1.output_header-title
      = @output.title
  
  .output_content
    .output_content_left
      %h3.output_content_left-all
        アウトプット一覧
      %p.output_content_left-explanation
        説明
      %p.output_content_left-learn
        学んだこと
      %p.output_content_left-remark
        好きなこと
    .output_content_right
      .output_content_right_box
        -# 改行をそのまま表示させるには、simple_formatで書く
        = simple_format(@output.explanation, class: 'output_content_right_box-text')
